@charset "utf-8";

/* CSS Document */


#topTitle {
	width: 930px;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	margin-top: 10px;
	margin-right: 15px;
	margin-bottom: 20px;
	margin-left: 15px;
}
#topTitle #topTitle_row2 {
	height: 28px;
	float: left;
	width: 930px;
}

#topTitle  #topTitle_Title  {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 22px;
	float: left;
	padding-left: 8px;
	height: 34px;
	line-height: 30px;
}
#topTitle   .topTitle_spaceborder {
	display: block;
	margin-left: 8px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}

#topTitle  .topTitle_linkTabs  {
	display: block;
	height: 26px;
	padding-right: 9px;
	padding-left: 9px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 26px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #FFFFFF;
	float: left;
	position: relative;
	top: 1px;
	text-decoration: none;
}
#topTitle  .topTitle_linkTabs:hover  {
	display: block;
	position: relative;
	top: 1px;
	text-decoration: none;
}
#topTitle  .topTitle_linkTabs2  {
	display: block;
	height: 26px;
	padding-right: 9px;
	padding-left: 9px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 26px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	float: left;
	background-color: #f0f0f0;
	top: 1px;
	position: relative;
}
#topTitle  .topTitle_linkTabs2:hover  {
	display: block;
	height: 26px;
	padding-right: 9px;
	padding-left: 9px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	float: left;
	background-color: #E8E8E8;
	top: 1px;
	position: relative;
	text-decoration: none;
}


#topTitle  #topTitle_row1 {
	height: 34px;
	float: left;
	width: 930px;
}

#topTitle  #topTitle_row1  #topTitle_Right  {
	float: right;
	height: 32px;
	color: #006699;
	line-height: 30px;
}

#topTitle .topTitle_link {
	padding-left: 4px;
	padding-right: 4px;
}
